@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import './tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
  --blue : #00ABA1;
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}