
.logo_img{
    height: 55px !important;
    width: 160px !important;
    align-self: center;
}

.project_logo{
    filter: grayscale(100%);
    /* width: 120px !important; */
    /* height: 50px !important; */
}

.service_heading{
    width: max-content;
}

.text-shadow-blue{
    text-shadow: 2px 3px 0px rgba(0,229,216, 1); 
}

/* Customize the carousel dot container */
.carousel .thumbs-wrapper {
    margin-top: 20px;
  }
  
  /* Customize the star carousel dot */
  .carousel .thumb {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    position: relative;
  }
  
  .carousel .thumb:before,
  .carousel .thumb:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  /* Create a star shape using borders */
  .carousel .thumb:before {
    border-width: 5px 5px 0 5px;
    border-color: #999 transparent transparent transparent;
  }
  
  .carousel .thumb:after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #999 transparent;
  }
  
  .theme-heading{
    font-family: 'Space Grotesk', sans-serif;
  }

.shadow-right-bottom {
    box-shadow: 5px 3px 0px 0px black; 
}

.shadow-bottom {
    box-shadow: 0px 5px 0px -1px black; /* Match the border color and thickness */

}

.shadow-right-circle {
  box-shadow:6px 5px 0px 0px black
}

.image-border-thick {
  border:solid #F3F3F3 35px;
  border-radius: 100%;
  height: 100%;
}

.rotate180 { 
  transform: rotate(180deg);
}


.msg-bubble {
	position: relative;
  margin:0px 10%;
		border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  
}

.msg-bubble::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top:100%;
  transform: rotate(180);
	left: 2em; 
	border: 1rem solid transparent;
	border-bottom: none;
	border-top-color: #28465f;

}

.image {
  width: 16rem;
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}

img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.wrapper {
  position: absolute;
  display: flex;
  margin: 0px 16px;
}

.leftSwipe {
  display: flex;
  animation: swipe var(--speed) linear infinite;
}

@keyframes swipe {
  0% {
    transform: translate(-100%);
  }

  50% {
    transform: translate(0%);
  }

  100% {
    transform: translate(100%);
  }
}


.rightSwipe {
  display: flex;
  animation: swipeRight var(--speed) linear infinite;
}

@keyframes swipeRight {
  0% {
    transform: translate(100%);
  }

  50% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}

.platform-div{
  width: 100%;
  overflow: hidden;
}


@media (max-width: 768px) {
  .platform-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .platform-image{
    width: 89px;
    height: 89px;
    padding-bottom: 10px;
  }
  .platform-logo{
    height: 30px;
    max-width: 1000%;
  }
  .textss-center{
    text-align: center;

  }

}




.box-testimonial {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  width: 80%;
  height: auto;
  /* padding: 50px 50px; */
  /* background-color: #284660; */
  border: 3px solid #00e5db;
  border-radius: 30px;
}

.box-testimonial:after {
  content: "";
  position: absolute;
  /* background-color: #284660; */
  border-bottom: 3px solid #00e5db;
  border-right: 3px solid #00e5db;
  bottom: -21px;
  left: 50px;
  /* right: px; */
  width: 19px;
  height: 19px;
  transform: translate(50%, -50%) rotate(45deg);
}

.box-testimonial-content {
  color: white;
  font-size: 1.35rem;
  white-space: wrap;
}

@media screen and (max-width: 1000px) {
    .box-testimonial {
        width: 80%;
        padding: 20px 30px;
    }
    .box-testimonial:after {
      bottom: -21px;
      left: 50px;
    } 

    .box-testimonial-content {
        font-size: 1.1rem;
    }
}







